@media screen and (min-width: 419px) {
  .camera__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 20px;
  }
}

@media screen and (min-width: 619px) {
  .camera__content {
    flex-direction: row;
  }
}
