.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 590px) {
  .header__content {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}